:root {
    --stBoxWidth: 1vw;
    --stBoxHeight: 1vw;
}

.heatmap {
    max-width: 1870px;
    width: 90vw;
    min-width: 640px;
    /* min-width: 2400px; */
    max-height: 160px;
    height: 8.1vw;
    min-height: 56px;
    /* min-height: calc(7*21px); */
    background-color: rgb(131, 130, 130);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    align-items: baseline;
    justify-content: center;
    overflow: visible;
    margin-bottom: 50px;
    padding: 5px;
}

.months {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    height: inherit;
    /* height: inherit; */
    width: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-left: 0%;
    /* justify-content: ; */
    /* align-items: flex-end; */
}

.standard-box {
    margin: 1px;
    width: var(--stBoxWidth);
    height: var(--stBoxHeight);
    min-width: 12.8px;
    min-height: 12.8px;
    border-radius: 4.5px;
    background-color: rgb(194, 193, 193);
}

.empty-box {
    margin: 1px;
    width: var(--stBoxWidth);
    /* min-width: 20px; */
    height: var(--stBoxHeight);
    min-width: 12.8px;
    min-height: 12.8px;
    /* min-height: 20px; */
    border-radius: 4.5px;
}

.weeks {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 0px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(194, 193, 193);
}

.infoBox {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    background-color: rgb(202, 201, 201);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}