.habitTrack {
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center
}

.basicClass {
    background-color: teal !important;
}

.button {
    height: fit-content;
    width: fit-content;
}

.habitNames {
    width: 100vw;
    height: 60px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habitNameBlocks {
    height: inherit;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}


.habitAddButton{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    font-size: 35px;
    color: white;
    border-radius: 30px;
    margin-right: 5px;
}

.text{
    margin: 0;
    user-select: none;
}

.habitAddButton:hover{
    transform: scale(1.2);
    cursor: grab;
}
.habitAddButton:active{
    transform: scale(1.1);
}