.habitTrack {
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center
}

.basicClass {
    background-color: teal !important;
}

.button {
    height: fit-content;
    width: fit-content;
}

.habitNames {
    width: 100vw;
    height: 60px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habitNameBlocks {
    height: inherit;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
    -webkit-box-shadow: -8px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -8px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -8px 0px 8px 0px rgba(34, 60, 80, 0.2);
}


.habitAddButton {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    font-size: 35px;
    color: white;
    border-radius: 30px;
    margin-right: 5px;
    -webkit-box-shadow: -4px -4px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px -4px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -4px -4px 4px 0px rgba(34, 60, 80, 0.2);
}

.text {
    margin: 0;
    user-select: none;
}

.habitAddButton:hover {
    transform: scale(1.2);
    cursor: grab;
}

.habitAddButton:active {
    transform: scale(1.1);
}